<section id="hero" class="mt-28 md:mt-40 mb-12 relative" #heroContainer>

    <div class="flex justify-center">

        <form name="contact" class="cForm overflow-hidden" [formGroup]="contactForm" netlify>
            <div class="mb-3">
                <span class="font-gray-500 font-medium">Get in touch ✌🏾</span>
            </div>
            <div>
                <input id="name" class="w-full" name="name" type="text" aria-label="full name" placeholder="Full Name" required minlength="3"
                    formControlName="fullname">
                    @if (fullname!.touched && fullname!.invalid) {
                        <div class="text-red-600">
                            This field is required and should be at least 3 characters long.
                       </div>
                    }
            </div>
            <div>
                <input id="email" class="w-full" name="email" type="email" placeholder="Primary Email" required
                    formControlName="email">
                    @if (email!.invalid && email!.touched) {
                        <div class="text-red-600">
                            This field is required and should be a valid email address.
                       </div>
                    }
            </div>
            <div>
                <textarea name="message" id="message" class="w-full" rows="4" placeholder="Message here" required
                    formControlName="senderMessage"></textarea>
                    @if (senderMessage!.invalid && senderMessage!.touched) {
                        <div class="text-red-600">
                            This field is required and should be at least 10 characters long.
                       </div>
                    }
            </div>
            <div>
                <button type="submit" [disabled]="contactForm.invalid">
                    Send Message
                </button>
            </div>

            @if (contactForm.invalid && contactForm.touched) {
                <span class="text-red-600">
                    All fields should be filled correctly.
                </span>
            }
        </form>

    </div>

    <div class="flex mt-8 md:mt-16 mb-0">
        <ng-lottie class="mx-auto" width="250px" [options]="catLottie"></ng-lottie>
    </div>

</section>