<section id="hero" class="my-16 mt-28 md:my-28 md:mt-40 relative" #heroContainer>

    <div class="flex justify-center">

        <form class="px-6 py-10 grid gap-y-3 w-[500px] mx-6 lg:max-w-xl rounded-lg shadow-md">
            <div>
                <input id="name" class="w-full" name="name" type="text" placeholder="Full Name">
            </div>
            <div>
                <input id="subject" class="w-full" name="subject" type="text" placeholder="Full Name">
            </div>
            <div>
                <textarea name="message" id="message" class="w-full" cols="" rows="4"
                    placeholder="Message here"></textarea>
            </div>
            <div>
                <button>Send Message</button>
            </div>
        </form>

    </div>

</section>