<section id="hero" class="mt-28 md:mt-40 mb-12 relative" #heroContainer>

    <div class="flex justify-center">

        <form class="cForm" #cForm="ngForm" novalidate>
            <div class="mb-3">
                <span class="font-gray-500 font-medium">Get in touch ✌🏾</span>
            </div>
            <div>
                <input id="name" class="w-full" name="name" type="text" placeholder="Full Name" required minlength="3"
                    ngModel>
            </div>
            <div>
                <input id="subject" class="w-full" name="subject" type="email" placeholder="Primary Email" required
                    minlength="6" pattern="[^ @]*@[^ @]*" ngModel>
            </div>
            <div>
                <textarea name="senderMessage" id="message" class="w-full" cols="" rows="4" placeholder="Message here"
                    required minlength="8" ngModel></textarea>
            </div>
            <div>
                <button [disabled]="cForm.invalid" ngClass="{bg-gray-500: cform.invalid}">Send Message</button>
            </div>

            <div>
                <pre>{{cForm.value | json}}</pre>
            </div>
        </form>

    </div>

    <div class="flex mt-8 md:mt-16 mb-0">
        <ng-lottie class="mx-auto" width="250px" [options]="catLottie"></ng-lottie>
    </div>

</section>