<!-- <div id="card" class="card">
  <div class="h-40 border-b-2 border-gray-100 ">
    <img class="card-img" src="{{cdata?.attributes.link}}" alt="project image" loading="lazy">
  </div>
  <div class="m-3">
    <div class="flex space-x-2">
      <ng-container *ngFor="let chip of cdata?.attributes.stacks">
        <div class="card-chips">{{chip}}</div>
      </ng-container>
    </div>
  </div>
  <div class="mx-3 mb-5">
    <div class="mt-3 flex flex-col">
      <div class="">
        <p class="h-12 overflow-y-hidden sm:h-16" *ngIf="!loadDescription">{{cdata?.attributes.description?.slice(0,
          50)}}...
        </p>
        <p @slide *ngIf="loadDescription">{{cdata?.attributes.description}}</p>
      </div>

      <div class="text-right mt-2 mr-2 text-gray-500 font-bold self-end">
        <ng-container *ngIf="!loadDescription; else pLink">
          <span class="cursor-pointer" (click)="checkDes()">Read more</span>
        </ng-container>
        <ng-template #pLink>
          <a class="text-primary-500" href="{{cdata?.attributes.link}}" target="_blank">Visit</a>
        </ng-template>
      </div>
    </div>
  </div>
</div> -->

<div id="card" class="card" @fade>
  <div class="relative h-40 border-b-2 border-gray-100">
    <img
      class="card-img"
      src="{{ cdata?.img }}"
      alt="project image"
      loading="lazy"
      ghost-loader
    />
  </div>
  <div class="m-3">
    <div class="flex flex-wrap gap-2">
      <ng-container *ngFor="let chip of cdata?.stacks">
        <div class="card-chips">{{ chip }}</div>
      </ng-container>
    </div>
  </div>
  <div class="mx-3 mb-5">
    <div class="mt-3 flex flex-col">
      <div class="">
        <p class="h-12 overflow-y-hidden sm:h-16" *ngIf="!loadDescription">
          {{ cdata?.description?.slice(0, 50) }}...
        </p>
        <p @slide *ngIf="loadDescription">{{ cdata?.description }}</p>
      </div>

      <div class="text-right mt-2 mr-2 text-gray-500 font-bold self-end">
        <ng-container *ngIf="!loadDescription; else pLink">
          <span class="cursor-pointer" (click)="checkDes()">Read more</span>
        </ng-container>
        <ng-template #pLink>
          <a class="text-primary-500" href="{{ cdata?.link }}" target="_blank"
            >Visit</a
          >
        </ng-template>
      </div>
    </div>
  </div>
</div>
