<div id="card" class="h-max rounded-lg shadow-md overflow-hidden" @fade>
  <div class="relative h-40 border-b-2 border-gray-100">
    <img
      class="card-img"
      src="{{ cdata.img }}"
      alt="project image"
      loading="lazy"
      ghost-loader
    />
  </div>
  <div class="m-3">
    <div class="flex flex-wrap gap-2">
      <ng-container *ngFor="let chip of cdata?.stacks">
        <div class="bg-[#141c71e3] text-white w-fit py-[3px] px-2 shadow rounded-3xl text-sm">{{ chip }}</div>
      </ng-container>
    </div>
  </div>
  <div class="mx-3 mb-5 h-full">
    <div class="mt-3 min-h-[50px] max-h-40 overflow-y-auto">
      <div class="">
        <p data-test-id="read-more-content">
          @if (!loadDescription) {
            <span >{{ cdata.description.slice(0, 50) }}...</span>
          } @else {
            <span  @slide>{{ cdata.description }}</span>
          }
        </p>
      </div>
    </div>
    <div data-test-id="read-more" class="text-right mt-2 mr-2 text-gray-500 font-bold self-end">
       @if (!loadDescription) {
            <button class="!bg-transparent p-0 text-gray-800 mt-4 md:mt-8 shadow-none" (click)="checkDes()">Read more</button>
          } @else {
            <a class="text-primary-500" href="{{ cdata.link }}" target="_blank">Visit Project</a>
        }
    </div>
</div>
