<section class="font-mont bgColor py-10 md:py-20 border-t border-gray-100">
    <div class="flex flex-col items-center justify-center text-center">
        <div>
            <span class="text-xl font-medium">Stay Connected</span>
        </div>
        <div class="my-8 grid gap-y-3">
            <h6>FCT Abuja❤️, Nigeria.🇳🇬</h6>
            <h4>joecdev@gmail.coms</h4>
            <h5 class="font-medium">(+234) 0814 243 7284</h5>
        </div>
        <div class="grid grid-cols-3 gap-x-4 place-content-center">

            <div class="sMedia">
                <a href="https://github.com/jowc">
                    <img class="w-[70px] md:w-20" src="assets/icons8-github.svg" alt="icons8-github">
                </a>
            </div>

            <div class="sMedia">
                <a href="https://www.linkedin.com/in/joseph-chikeme-29502a121/">
                    <img class="w-[70px] md:w-20" src="assets/icons8-linkedin.svg" alt="icons8-linkedin">
                </a>
            </div>

            <div class="sMedia">
                <a href="https://twitter.com/jowcseph">
                    <img class="w-[70px] md:w-20" src="assets/icons8-twitter.svg" alt="icons8-twitter">
                </a>
            </div>

        </div>
    </div>
</section>