<!-- Hero Section -->
<section id="heroContainer" class="mt-16 md:mt-20 relative" #heroContainer>
  <ng-particles
    id="heroCont"
    [options]="particlesOptions"
    (particlesLoaded)="particlesLoaded($event)"
  >
  </ng-particles>

  <!-- Hero Container -->
  <section class="py-8 md:py-24 flex" #hero>
    <div class="cont">
      <div class="flex flex-col-reverse md:flex-row max-w-[750px] xl:mx-auto">
        <div
          class="mt-9 md:mt-0 text-center md:text-left flex flex-col justify-center items-center md:items-start md:w-3/5 font-medium"
        >
          <span class="text-2xl text-gray-600">Hi 👋🏾, I'm</span>
          <h1>
            Joseph Ojiofor <br />
            Chikeme
          </h1>
          <h4 class="mt-3">Web Developer</h4>
          <p class="mt-6 mx-4 md:ml-0 md:mr-32">
            I am an experienced Angular frontend developer. I have been working
            with Angular since version 8, and I have a deep understanding of the
            framework and its features.
          </p>
          <button class="mt-9 md:mt-12" routerLink="/contact">
            Let's Chat
          </button>
        </div>

        <div #heroImage id="heroImage">
          <img
            class="flex mx-auto md:mx-0 md:justify-self-start w-2/3 rounded-full md:w-80 md:h-80 object-cover"
            src="https://res.cloudinary.com/drbrbpqdn/image/upload/v1678192638/Joecdev/Joseph_Chikeme_pp2_bijit5.webp"
            alt="Joseph Chikeme"
            loading="lazy"
            ghost-loader
          />
        </div>
      </div>
    </div>
  </section>
</section>

<!-- Skills Section -->
<section class="pt-10 md:pt-20 bgColor">
  <section class="flex justify-center">
    <section
      class="w-full contCards lg:-ml-20 bg-yellow-100 rounded-3xl shadow-gray-100 shadow-lg p-7 md:p-14"
    >
      <div class="flex flex-col md:flex-row justify-between">
        <div class="w-full md:w-2/3">
          <div class="bg-yellow-300 w-10 h-10 rounded-full">
            <img
              class="mx-auto p-2"
              src="assets/ninja-head-svgrepo-com.svg"
              alt="ninja-head-svgrepo-com"
            />
          </div>
          <h3 class="mt-4 md:mt-8">Skills</h3>
          <p class="mt-3">
            I am also proficient in HTML, CSS, TypeScript, RxJs, NgRx, Strapi,
            python Django, Node JS and JavaScript, and I have experience with
            other frontend technologies such as React and Vue.js.
          </p>
          <h5
            (click)="scroll(Projects)"
            class="mt-4 md:mt-8 block cursor-pointer"
          >
            See Projects
          </h5>
        </div>
        <div class="w-full flex justify-end md:justify-center md:w-1/3">
          <ng-lottie class="w-20 md:w-44" [options]="catLottie"></ng-lottie>
        </div>
      </div>
    </section>
  </section>
</section>

<!-- Photography Section -->

<!-- <section class="mt-8 md:mt-24 flex justify-center">

    <section class="w-full contCards px-7 sm:px-0">

        <div>
            <h3>Photography📸 & Art🎨</h3>
            <h6>I love art and photography.</h6>
        </div>

        <div class="mt-8">
            <app-gallery-slider></app-gallery-slider>

        </div>
    </section>


</section> -->

<!-- Works Section -->
<section
  id="Projects"
  class="pt-16 pb-8 md:pt-24 bgColor flex justify-center"
  #Projects
>
  <section class="w-full contCards xl:max-w-[1050px] lg:-mr-20">
    <div>
      <h3>Works🗂️</h3>
      <h6>Featured projects</h6>
    </div>

    <div class="mt-8 grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <ng-container *ngFor="let data of projectData$">
        <!-- <ng-container *ngFor="let data of (projects$|async)"> -->
        <app-projects-card [cdata]="data"></app-projects-card>
      </ng-container>
    </div>

    <div class="mt-8" *ngIf="!projectEnd">
      <button (click)="getProject()">Load More</button>
    </div>

    <div class="mt-8" *ngIf="projectEnd">
      <a
        class="text-primary-500 font-medium underline underline-offset-4"
        href="https://github.com/jowc"
        >View More on Github</a
      >
    </div>
  </section>
</section>

<!-- Technologies Section -->
<section class="pt-16 md:mt-24 bgColor flex justify-center">
  <section class="w-full contCards lg:-ml-20 overflow-hidden">
    <div>
      <h3>Technologies🪚</h3>
      <h6>Framework & tools I use...</h6>
    </div>

    <div class="mt-4 md:mt-6 grid grid-cols-6 gap-4 overflow-x-auto">
      <div class="fTools">
        <img
          class="w-14 md:w-20"
          src="assets/icons8-wordpress.svg"
          alt="icons8-wordpress"
        />
      </div>
      <div class="fTools">
        <img
          class="w-14 md:w-20"
          src="assets/icons8-angularjs.svg"
          alt="icons8-angularjs"
        />
      </div>
      <div class="fTools">
        <img
          class="w-14 md:w-20"
          src="assets/icons8-vuejs.svg"
          alt="icons8-vuejs"
        />
      </div>
      <div class="fTools">
        <img
          class="w-14 md:w-20"
          src="assets/icons8-firebase.svg"
          alt="icons8-firebase"
        />
      </div>
      <div class="fTools">
        <img
          class="w-14 md:w-20"
          src="assets/icons8-django.svg"
          alt="icons8-django"
        />
      </div>
      <div class="fTools">
        <img
          class="w-14 md:w-20"
          src="assets/icons8-elementor.svg"
          alt="icons8-elementor"
        />
      </div>
    </div>
  </section>
</section>

<!-- CTA Section -->
<section class="pt-16 md:pt-28 bgColor">
  <section class="flex justify-center">
    <section
      class="w-full contCards xl:max-w-[700px] bg-orange-100 rounded-3xl shadow-lg p-7 md:p-20"
    >
      <div class="flex flex-col md:flex-row justify-between">
        <div class="w-full md:w-1/2 md:ml-10">
          <h3 class="">Work Inquiry</h3>
          <p class="mt-3">Get in touch and let's discuss.</p>
        </div>
        <div class="mt-4 w-full md:w-1/2 flex justify-start md:justify-center">
          <button class="bg-orange-600 w-fit h-fit" routerLink="contact">
            Let's Chat
          </button>
        </div>
      </div>
    </section>
  </section>
</section>

<!-- Lottie footer Section -->
<section class="pt-12 pb-2 md:pt-16 bgColor">
  <section class="flex justify-center">
    <div>
      <ng-lottie width="200px" [options]="dogLottie"></ng-lottie>
    </div>
  </section>
</section>
