section,
div {
  //   @apply border-2 border-red-600;
}

#heroImage {
  background: url("../../../assets/magicpattern-blob1.png");
  @apply bg-center bg-cover bg-no-repeat;
}

#heroCont {
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: -1;
}
