@use "./tailwind.css";

html {
  @apply scroll-smooth;
}

.debug {
  @apply border border-red-500;
}

body {
  @apply font-ubuntu text-gray-800 h-full;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mont;
  }
  h1 {
    @apply text-2xl md:text-4xl font-semibold;
  }
  h2 {
    @apply text-2xl md:text-4xl font-semibold;
  }
  h3 {
    @apply text-xl md:text-3xl font-semibold;
  }
  h4 {
    @apply text-[18px] md:text-2xl font-medium;
  }
  h5 {
    @apply font-semibold;
  }
  h5,
  h6 {
    @apply text-sm;
  }

  p {
    @apply text-gray-700;
  }

  input,
  textarea {
    @apply p-2 bg-gray-50 text-gray-700 font-medium border-2 border-solid rounded-lg focus:outline-none shadow-sm;
  }

  button {
    @apply px-5 py-2 bg-primary-500 text-white font-medium hover:scale-95 hover:bg-black transition-transform duration-300 rounded-lg shadow-md;
  }
  img {
    @apply relative text-[0];
  }
}

.cont {
  @apply mx-4 sm:mx-auto sm:max-w-7xl;
}

.contCards {
  @apply mx-5 sm:max-w-[800px];
}

.bgColor {
  @apply bg-white;
}

.projCard {
  @apply max-w-md;
}

//bg skeleton animation
.ghost-loader {
  animation: ghostAnimation 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes ghostAnimation {
  from {
    background-color: #f1f1f1;
  }
  to {
    background-color: #e4e4e4;
  }
}
